

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* z-index: 200; */
}

body {
  overflow: hidden;

}

canvas {
  top: 50%;
  left: 50%;

}
img {
  display: none;
}
#loading { 
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 80px;
}

