* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 10000;
}

body {
  background: black;
}

#canvas1 {
  background: rgb(0, 100, 158);
  border: 5px solid rgb(180, 180, 180);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* height: 800px;
    width: 500px; */
  max-width: 100%;
  max-height: 100%;
}

#playerImage,
#backgroundImage,
#enemyImage {
  display: none;
}

#fullScreenButton {
  position: absolute;
  font-size: 20px;
  padding: 10px;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}
