@font-face {
  font-family: "Orbitron";
  src: url("/fonts/Orbitron-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Alata";
  src: url("/fonts/Orbitron-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Orbitron', sans-serif;
}
/* Global styles for all h1 elements */
h1 {
  color: #ffffff;
  /* font-size: 2em; */
  padding: 20px 0;
}

nav a:hover {
  background-color: #333;
  color: #fff;
}
.sidebar {
  position: fixed;
  left: -30vw;
  width: 30vw;
  max-width: 30vw;
  height: 100%;
  background-color: #252525;
  color: white;
  transition: left 0.3s ease;
  overflow: auto;
  padding: 20px;
  box-sizing: border-box;
  border-style: groove;
  overflow: hidden;
  z-index: 101;
}
.sidebar.open {
  left: 0;
}
.sidebar-content h1 {
  margin-top: 0;
}
.sidebar-content p, .sidebar-content q, .sidebar-content img {
  margin: 20px 0;
}
.sidebar img {
  width: 30vw;
  height: auto;
}

/* Media query for small devices */
@media (max-width: 768px) {
.sidebar {
    max-width: 50vw;
}

.sidebar.open {
    width: 50vw;
}

#main-content.open {
    margin-left: 50vw;
}
}

.sidebar-icons {
  text-align: center;
  margin-bottom: 1em;
}

.sidebar-icons .icon {
  width: 24px;
  height: 24px;
  margin: 0 10px;
  vertical-align: middle;
}


.edible-content {
position: fixed;
bottom: 30px;
left: 20px;
width: 40px; /* Adjusted to accommodate the icon size */
height: 40px; /* Adjusted to accommodate the icon size */
padding: 0; /* Removed padding for proper centering */
display: flex;
justify-content: center;
align-items: center;
background: white;
border: 3px solid #3e7072;
border-radius: 10px;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
transition: margin-left 0.3s ease;
z-index: 9999;
}
.hamburger-icon {
font-size: 30px;
cursor: pointer;
line-height: 1;
}
#main-content.open {
margin-left: 30vw;
}
a:link {
  color: #862e97; /* or any color you prefer */
  text-decoration: none; /* if you want to remove the underline */
}

/* Visited link */
a:visited {
  color: #862e97; /* or any color you prefer */
  text-decoration: none; /* if you want to remove the underline */
}

/* Mouse over link */
a:hover {
  color: #e5a0f3; /* or any color you prefer */
  text-decoration: none; /* if you want to remove the underline */
}

/* Selected link */
a:active {
  color: #e5a0f3; /* or any color you prefer */
  text-decoration: none; /* if you want to remove the underline */
}
.button {
  display: inline-block;
  padding: 4px 6px;
  font-size: 16px;
  color: white; /* Text color */
  background-color: #00eeff; /* Background color */
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none; /* Remove underline */
  cursor: pointer;
}

/* Hover effect */
.button:hover {
  background-color: #0056b3; /* Darker background color on hover */
}

/* Active effect */
.button:active {
  background-color: #004494; /* Even darker background color on active */
}

/* Focus effect */
.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); /* Blue outline */
}

footer, .sidefoot {
  background-color: #080f22; 
  color: white; /* Footer text color */
  padding: 3px;
  text-align: center;
  bottom: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  font-size: 25px;
  z-index: 100;

}

