/* material-symbols-rounded-latin-wght-normal */
@font-face {
  font-family: 'Material Symbols Rounded Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/material-symbols-rounded:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
.sidebar {
  /* font-family: 'Orbitron'; */
  position: fixed;
  left: -30vw;
  width: 30vw;
  max-width: 30vw;
  height: 100%;
  background-color: #252525;
  color: white;
  transition: left 0.3s ease;
  overflow: auto;
  padding: 20px;
  box-sizing: border-box;
  border-style: groove;
  overflow: hidden;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* This ensures that the space is distributed between the elements */
}
.sidebar.open {
  left: 0;
}
.sidebar-content h1 {
  margin-top: 0;
}
.sidebar-content p, .sidebar-content q, .sidebar-content img {
  margin: 20px 0;
}
.sidebar img {
  width: 30vw;
  height: auto;
}

/* .hamburger-icon {
  cursor: pointer;
  position: fixed;
  top: 15px;
  left: 15px;
  font-size: 30px;
  color: white;
} */

.edible-content.open {
  margin-left: 250px;
}

  
  
  .material-symbols-rounded {
    font-family: "Material Symbols Rounded Variable";
    font-weight: normal;
    font-style: normal;
    font-size: 48px; /* Preferred icon size */
    display: inline-block;
    line-height: 2;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: blanchedalmond;
  }
  .material-symbols-rounded:hover {  color: rgb(167, 100, 0);}
  
  .sidebar-content {
    flex-grow: 1;
  }
  
  .sidebar-icons {
    display: inline-flex;
    gap: 30px; /* Adjust gap as needed */
    text-align: center;
    padding-bottom: 80px;
    justify-content: center;
  
  }
  
  .icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit; /* Use this to keep the icon color consistent with the text color */
  }
  
  .icon-link:hover {
    color: #000; /* Adjust hover color as needed */
  }
  
  .sidebar-icons .icon {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    color: blanchedalmond;
  }
  
  .edible-content {
    position: fixed;
    bottom: 30px;
    left: 20px;
    width: 40px; /* Adjusted to accommodate the icon size */
    height: 40px; /* Adjusted to accommodate the icon size */
    padding: 0; /* Removed padding for proper centering */
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border: 1px solid #009ca1;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    transition: margin-left 0.3s ease;
    margin: 0;
    /* z-index: 9999; */
  }
  
  .hamburger-icon {
    font-size: 30px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
  }
  #main-content.open {
  margin-left: 30vw;
  
  }
  
  
  /* Media query for small devices */
  @media (max-width: 768px) {
    .sidebar {
        max-width: 80%;
    }
    
    .sidebar.open {
        width: 80vw;
    }
    
    #main-content.open {
        margin-left: 80vw;
    }
    }
    
  a:link {
    color: #ffffff; /* or any color you prefer */
    text-decoration: none; /* if you want to remove the underline */
  }
  
  /* Visited link */
  a:visited {
    color: #ffffff; /* or any color you prefer */
    text-decoration: none; /* if you want to remove the underline */
  }
  
  /* Mouse over link */
  a:hover {
    color: #e5a0f3; /* or any color you prefer */
    text-decoration: none; /* if you want to remove the underline */
  }
  
  /* Selected link */
  a:active {
    color: #e5a0f3; /* or any color you prefer */
    text-decoration: none; /* if you want to remove the underline */
  }
  .button {
    display: inline-block;
    padding: 4px 6px;
    font-size: 16px;
    color: white; /* Text color */
    background-color: #00eeff; /* Background color */
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none; /* Remove underline */
    cursor: pointer;
  }
  
  /* Hover effect */
  .button:hover {
    background-color: #0056b3; /* Darker background color on hover */
  }
  
  /* Active effect */
  .button:active {
    background-color: #004494; /* Even darker background color on active */
  }
  
  /* Focus effect */
  .button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); /* Blue outline */
  }

  hr {
    height: 4px;
    background-color: brown;
    border-color: brown;
    margin: 35px
  }
  
  footer, .sidefoot {
    background-color: #080f22; 
    color: white; /* Footer text color */
    padding: 3px;
    text-align: center;
    bottom: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
    font-size: 25px;
    z-index: 100;
  
  }
  