/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    text-align: center; /* Center the text in the body */
  
        display: flex;
    flex-direction: column;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0; /* Increase padding for better visual separation */
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    margin: 10px;
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #333;
    color: #fff;
}

/* Main content styles */
main {
    padding: 20px;
     flex: 1; /
}

section {
    margin-bottom: 130px;
    margin-top: 150px
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0; /* Increase padding for better visual separation */

}

/* General styles */
h1 {
    color: #333;
    font-size: 2em; /* Larger font size for the title */
    padding: 20px 0; /* Padding for the title */
}

p {
    color: #555;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
    header nav ul li {
        display: block;
        margin: 10px 0;
    }
}

.iframe {
    height: 100vh;
    width: auto;
    padding: 0;
    border: 0;

}
