body {
    background: linear-gradient(to top, rgb(53, 122, 7), rgb(139, 139, 139), rgb(211, 237, 255));
    width: 100vw;
    height: 100vh;

    overflow: hidden;
    cursor: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGN4PSIxNiIgY3k9IjE2IiByPSIxNSIgc3Ryb2tlPSIjRkZGRkZGIiBzdHJva2Utd2lkdGg9IjIiIGZpbGw9Im5vbmUiLz48bGluZSB4MT0iMTYiIHkxPSIyIiB4Mj0iMTYiIHkyPSIzMCIgc3Ryb2tlPSIjRkZGRkZGIiBzdHJva2Utd2lkdGg9IjIiLz48bGluZSB4MT0iMiIgeTE9IjE2IiB4Mj0iMzAiIHkyPSIxNiIgc3Ryb2tlPSIjRkZGRkZGIiBzdHJva2Utd2lkdGg9IjIiLz48L3N2Zz4='), auto;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
/* margin-top: 50px; */
    height: 100%;
    width: 100%;
    z-index: -10;
    /* z-index: 1000; */
    /* background-color: aliceblue; */
}

#collisionCanvas {
    /* background-color: brown; */
    opacity: 0;

    /* border-radius: 500px; */
}